{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="display-4">E-commerce</h1>
        <h4 class="display-6">Welcome</h4>
    </div>
{% endblock %}

